fastapi==0.115.5
uvicorn==0.32.1
python-binance==1.0.19
python-dotenv==1.0.1
pydantic==2.10.3
pydantic-settings==2.6.1
ollama==0.4.4
TA-Lib==0.4.32
APScheduler==3.10.4
pandas==2.2.3
numpy==1.26.4
sqlalchemy==2.0.36
binance-sdk-copy-trading==1.1.0
binance-sdk-derivatives-trading-usds-futures==1.1.0
pymongo==4.10.1
